<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.email_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>



<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <div class="tabs mx-auto mb-0 clearfix" id="tab-login-register" style="max-width: 500px;">

        <div class="tab-container">

          <div class="tab-content" id="tab-login">
            <div class="card mb-0">
              <div class="card-body" style="padding: 40px;">
                <form id="login-form" name="login-form" class="mb-0" action="#" method="post">

                  <h3>Login to your Account</h3>

                  <div class="row">
                    <div class="col-12 form-group">
                      <label for="login-form-username">Username:</label>
                      <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
                    </div>

                    <div class="col-12 form-group">
                      <label for="login-form-password">Password:</label>
                      <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
                    </div>

                    <div class="col-12 form-group">
                      <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                      <a href="#" class="float-right">Forgot Password?</a>
                    </div>
                  </div>
                </form>

                <div class="accordion-header">
                  <div class="accordion-title">
                    Don't have an account? <%= link_to "Sign up", sign_up_path %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

