<!DOCTYPE html>
<html>
  <head>
    <title>TrillionTree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="clearfix">
      <%= yield %>

      <%= render "layouts/footer" %>

    </div>
    <div id="gotoTop" class="icon-line-arrow-up"></div>

  </body>
</html>
